{% extends "base.html" %}
{% import "_macro.html" as macro %}

{% block title %}
    一起看片
{% endblock %}

{% block page_content %}
    <div class="container">
    <div class="row clearfix">
        <div class="bd">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <a href="{{ url_for('main.videos', page=1) }}" style="text-decoration: none;">
                            <img class="folder" src="http://puui.qpic.cn/vcolumn_vt_pic/0/m2yiyo1515246375/0"
                                 width="165"
                                 height="231"/>
                        </a>
                    </div>
                    <div class="col-md-3 column" style="margin-left: -30px;">
                        <div class="row clearfix">
                            <div class="col-md-12 column" style="margin-top: 0px;">
                                <h4><a href="{{ url_for('main.videos', page=1) }}"
                                       style="text-decoration: none;">爱情保卫战</a></h4>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column" style="margin-top: 5px;">
                                    主持人： 赵川
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column" style="margin-top: 5px;">
                                    地　区: 内地
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column" style="margin-top: 5px;">
                                    电视台: 天津卫视
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column" style="margin-top: 5px;">
                                    语　言: 普通话
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column" style="margin-top: 5px;">
                                    首播时间: 2011-06-18
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-12 column" style="margin-top: 5px;">
                                    简　介： 天津卫视新推出的“后婚恋时代”情感综艺新版块节目。
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .row {
            margin-top: 2px;
            margin-left: 0px;
        }

        .folder {
            box-shadow: 0 1px 6px rgba(0, 0, 0, .35);
        }
    </style>
{% endblock %}
